# Use this notebook for your 3 choices of APIs

In [1]:
import pandas as pd
import requests 
from pandas import json_normalize

#### Nager.date (https://date.nager.at/swagger/index.html)

We use json_normalize and we can obtain a dataframe with a list of the public holidays worldwide for the next 7 days.

In [2]:
response = requests.get('https://date.nager.at/api/v3/NextPublicHolidaysWorldwide')
print("dates", response.status_code)

dates 200

In [3]:
# response.content

In [4]:
import json
dates = response.json()

In [5]:
# dates

In [6]:
flattened_dates = json_normalize(dates)

In [7]:
flattened_dates

,date,localName,name,countryCode,fixed,global,counties,launchYear,types
0,2023-09-06,Ден на съединението,Unification Day,BG,True,True,None,None,[Public]
1,2023-09-07,Dia da Independência,Independence Day,BR,True,True,None,None,[Public]
2,2023-09-07,Jeûne genevois,Geneva Prayday,CH,False,False,[CH-GE],None,[Public]
3,2023-09-07,Dia da Victória,Victory Day,MZ,True,True,None,None,[Public]
4,2023-09-08,Mare de Déu de Meritxell,National Holiday,AD,True,True,None,None,[Public]
5,2023-09-08,Día de Asturias,Day of Asturias,ES,True,False,[ES-AS],None,[Public]
6,2023-09-08,Día de Extremadura,Day of Extremadura,ES,True,False,[ES-EX],None,[Public]
7,2023-09-08,Maria Geburt,Nativity of Our Lady,LI,True,True,None,None,[Public]
8,2023-09-08,"Ден на независноста, Den na nezavisnosta",Independence Day,MK,True,True,None,None,[Public]
9,2023-09-08,Il-Vittorja,Feast of Our Lady of Victories,MT,True,True,None,None,[Public]
10,2023-09-08,Festa della natività della madonna,Nativity of Mary,VA,True,True,None,None,[Public]
11,2023-09-08,"Día del Virgen del Valle, aparicion del Virgen...",Birth of the Blessed Virgin Mary and feasts of...,VE,True,True,None,None,[Public]
12,2023-09-10,Saint George's Caye Day,Saint George's Caye Day,BZ,False,True,None,None,[Public]
13,2023-09-10,Gibraltar National Day,Gibraltar National Day,GI,True,True,None,None,[Public]
14,2023-09-11,Diada Nacional de Catalunya,National Day of Catalonia,ES,True,False,[ES-CT],None,[Public]

#### eBird (https://documenter.getpostman.com/view/664302/S1ENwy59#auth-info-124a9625-7cc9-48d5-be64-bb4fa0d59f46).

For a list of birth observations.

First, we needed to create an account and obtain an API token.

In [8]:
api_token = input('Enter ebird api token: ')

In [9]:
url = 'https://api.ebird.org/v2/data/obs/KZ/recent'
headers = {
    'X-eBirdApiToken': api_token}

# Realiza la solicitud GET con el encabezado personalizado
response = requests.get(url, headers=headers)

In [10]:
# response.content

In [11]:
import json
observs = response.json()

In [12]:
# observs

In [13]:
observs_flatt = json_normalize(observs)

We use json_normalize and obtain a list of observations. We have the name and number of species seen, the location with latitude and longitude, etc.

In [14]:
observs_flatt

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
0,rocpig,Rock Pigeon,Columba livia,L3089582,Atyrau--Ural River,2023-09-05 06:51,3.0,47.105536,51.918898,True,False,False,S149032459,N
1,eutspa,Eurasian Tree Sparrow,Passer montanus,L3089582,Atyrau--Ural River,2023-09-05 06:51,2.0,47.105536,51.918898,True,False,False,S149032459,NaN
2,graher1,Gray Heron,Ardea cinerea,L3089582,Atyrau--Ural River,2023-09-05 06:51,2.0,47.105536,51.918898,True,False,False,S149032459,NaN
3,barswa,Barn Swallow,Hirundo rustica,L3089582,Atyrau--Ural River,2023-09-05 06:51,7.0,47.105536,51.918898,True,False,False,S149032459,NaN
4,houspa,House Sparrow,Passer domesticus,L3089582,Atyrau--Ural River,2023-09-05 06:51,4.0,47.105536,51.918898,True,False,False,S149032459,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,azutit2,Azure Tit,Cyanistes cyanus,L26735745,Bachi village,2023-08-24 06:00,2.0,44.159040,78.746261,True,False,True,S147962151,NaN
181,rutshr2,Red-tailed Shrike,Lanius phoenicuroides,L10200253,Altyn Emel NP--General Area,2023-08-23 17:00,NaN,44.002062,78.838169,True,False,False,S147921256,NaN
182,rinphe1,Ring-necked Pheasant,Phasianus colchicus,L10200253,Altyn Emel NP--General Area,2023-08-23 17:00,4.0,44.002062,78.838169,True,False,False,S147921256,NaN
183,brodip1,Brown Dipper,Cinclus pallasii,L9998085,Alma-Arasan,2023-08-22 14:00,1.0,43.084900,76.905750,True,False,False,S147856717,NaN
184,rudshe,Ruddy Shelduck,Tadorna ferruginea,L1577085,Ile Alatau NP--Big Almaty Lake (IBA KZ098),2023-08-22 12:45,1.0,43.052565,76.985021,True,False,False,S147852441,NaN

#### Art Institute of Chicago (https://api.artic.edu/docs/#introduction)

For a list of art pieces in the Art Institute of Chicago.

In [15]:
response = requests.get('https://api.artic.edu/api/v1/artworks')
print("chicago", response.status_code)

chicago 200

In [16]:
# response.content

In [17]:
import json
pieces = response.json()

We get 12 pieces of art per page. We have the link for the next page, so we could be iterating for retreiving all the info.

In [18]:
# pieces

In this case, we need to use json_normalize on the key 'data'. That's where we find the info of each piece of art.

In [19]:
pieces_flatt = json_normalize(pieces['data'])

We get a lot of information for each piece. Title, artist, dates, size, descriptions, etc.

In [20]:
pieces_flatt['artist_title']

0       Atelier Martine
1       Atelier Martine
2       Atelier Martine
3       Atelier Martine
4       Atelier Martine
5         Gaylen Gerber
6         Gaylen Gerber
7       Atelier Martine
8       Atelier Martine
9       Atelier Martine
10    Giovanni di Paolo
11    Giovanni di Paolo
Name: artist_title, dtype: object

In [21]:
pieces_flatt

,id,api_model,api_link,is_boosted,title,alt_titles,main_reference_number,has_not_been_viewed_much,boost_rank,date_start,...,thumbnail.lqip,thumbnail.width,thumbnail.height,thumbnail.alt_text,color.h,color.l,color.s,color.percentage,color.population,color
0,86376,artworks,https://api.artic.edu/api/v1/artworks/86376,False,Panel (Dress or Furnishing Fabric),None,1924.205,True,None,1915.0,...,"data:image/gif;base64,R0lGODlhAwAFAPMAAJqalZeb...",1515,2250,"A work made of silk, satin weave; block printed.",214.0,42.0,36.0,0.000568,6.0,NaN
1,86405,artworks,https://api.artic.edu/api/v1/artworks/86405,False,Panel (Dress or Furnishing Fabric),None,1924.455,True,None,1913.0,...,"data:image/gif;base64,R0lGODlhBQAFAPQAAGdqXGlu...",2261,2250,"A work made of cotton and linen, plain weave; ...",38.0,59.0,83.0,0.002686,19.0,NaN
2,86403,artworks,https://api.artic.edu/api/v1/artworks/86403,False,Panel,None,1924.453,True,None,1920.0,...,"data:image/gif;base64,R0lGODlhBwAFAPUAAF1tXl9+...",1572,1069,"A work made of cotton and linen, plain weave; ...",209.0,61.0,62.0,0.432470,2089.0,NaN
3,190554,artworks,https://api.artic.edu/api/v1/artworks/190554,False,Begonia,None,2007.352,True,None,1915.0,...,"data:image/gif;base64,R0lGODlhAwAFAPMAAGlMVGtO...",3398,6311,"A work made of linen, plain weave; block printed.",318.0,30.0,96.0,0.049162,649.0,NaN
4,33141,artworks,https://api.artic.edu/api/v1/artworks/33141,False,Fragment,None,1970.60,False,None,1920.0,...,"data:image/gif;base64,R0lGODlhBAAFAPQAAIRZPYpg...",1984,2250,"A work made of linen, plain weave; block printed.",48.0,30.0,30.0,0.047772,385.0,NaN
5,204273,artworks,https://api.artic.edu/api/v1/artworks/204273,False,Untitled,None,Obj: 204273,True,None,NaN,...,"data:image/gif;base64,R0lGODlhBQAFAPQAAHhrXHtt...",2385,2338,A work made of oil on canvas.,NaN,NaN,NaN,NaN,NaN,NaN
6,204272,artworks,https://api.artic.edu/api/v1/artworks/204272,False,Untitled,None,Obj: 204272,True,None,NaN,...,"data:image/gif;base64,R0lGODlhBQAFAPQAAG9oXnFp...",2746,2729,A work made of oil on canvas.,NaN,NaN,NaN,NaN,NaN,NaN
7,86364,artworks,https://api.artic.edu/api/v1/artworks/86364,False,Panel (Dress or Furnishing Fabric),None,1924.198,False,None,1920.0,...,"data:image/gif;base64,R0lGODlhBQAFAPQAAGxgR2xh...",2166,2250,A work made of cotton and linen; plain weave; ...,46.0,52.0,24.0,0.073531,543.0,NaN
8,86368,artworks,https://api.artic.edu/api/v1/artworks/86368,False,Panel (Dress or Furnishing Fabric),None,1924.201,True,None,1915.0,...,"data:image/gif;base64,R0lGODlhBQAFAPQAAFNJKlJJ...",2106,2250,"A work made of cotton and linen, plain weave; ...",47.0,52.0,78.0,0.005135,39.0,NaN
9,86367,artworks,https://api.artic.edu/api/v1/artworks/86367,False,Panel (Dress or Furnishing Fabric),None,1924.200,True,None,1920.0,...,"data:image/gif;base64,R0lGODlhBQAFAPQAAD1ELj1E...",2149,2250,"A work made of cotton and linen, plain weave; ...",38.0,49.0,66.0,0.002152,16.0,NaN
10,16159,artworks,https://api.artic.edu/api/v1/artworks/16159,False,Ecce Agnus Dei,None,1933.1011,False,None,1455.0,...,"data:image/gif;base64,R0lGODlhAwAFAPMAADYqFzgo...",4909,9108,A work made of tempera on panel.,40.0,48.0,67.0,0.000531,7.0,NaN
11,16156,artworks,https://api.artic.edu/api/v1/artworks/16156,False,Saint John the Baptist Entering the Wilderness,None,1933.1010,False,None,1455.0,...,"data:image/gif;base64,R0lGODlhAwAFAPMAAEhIO1ZO...",2684,5294,A work made of tempera on panel.,8.0,51.0,49.0,0.001498,21.0,NaN